.hero {
  position: relative;
}

.hero h1 {
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 32px;
}

/**
 *
 * Bar scroller
 *
 */

@media only screen and (min-width: 1400px) {
  .bar {
    position: absolute;
    left: -60px;
    top: 0;
    height: 100%;
    width: 4px;
    background-color: #eee;
    overflow: hidden;
  }

  .bar::before {
    content: '';
    position: absolute;
    height: 64px;
    width: 4px;
    background-color: black;
    top: 0;
    animation: translationY ease 2.5s infinite;
  }
  
  @keyframes translationY {
    from {
      transform: translateY(-32px);
    }
    to  {
      transform: translateY(330px);
    }
  }
}