<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
	<meta name="description" content="Keziah Moselle portfolio"/>
	<meta name="keywords" content="Keziah, Moselle, developper, web, développeur, front-end, frontend"/>
	<meta name="author" content="Keziah Moselle"/>
	<meta name="robots" content="index,follow"/>
	<meta name="googlebot" content="index,follow"/>
	<meta name="google-site-verification" content="2f8TVRTe-fLN14ktLaD_aEipVKNNvn8Qq0MgQN8JVfw" />
	<meta property="og:url" content="https://keziahmoselle.fr">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Keziah MOSELLE">
	<meta property="og:image" content="https://keziahmoselle.fr/assets/integration.jpeg">
	<meta property="og:description" content="Keziah MOSELLE personal website">
	<meta property="og:site_name" content="Keziah MOSELLE">
	<meta property="og:locale" content="fr_FR">
	<meta name="twitter:card" content="Portfolio">
	<meta name="twitter:creator" content="@KeziahMoselle">
	<meta name="twitter:url" content="https://keziahmoselle.fr">
	<meta name="twitter:title" content="Keziah MOSELLE">
	<meta name="twitter:description" content="Keziah MOSELLE personal website">
	<meta name="twitter:image" content="https://keziahmoselle.fr/assets/integration.jpeg">
	<link href="assets/icons/favicon.jpeg" rel="icon" type="image/x-icon"/>
	<link href="assets/css/style.min.css" rel="stylesheet" type="text/css" media="screen"/>
	<title>Keziah MOSELLE - Portfolio</title>
	<noscript>
		<div class="card-panel red">
			<span>JavaScript is disabled. The website can't render properly.</span>
		</div>
	</noscript>
</head>

<body>

	<div id="app">
		<header>

			<div class="translations">
				<a id="frenchBtn" @click="setFr" href="#lang=fr"><img src="./assets/icons/flag/fr.png" alt="Drapeau Français"></a>
				<a id="EnglishBtn" @click="setEn" href="#lang=en"><img src="./assets/icons/flag/en.png" alt="English flag"></a>
			</div>

			<div class="banner black">
				<h1 class="hide-on-small-only baffle">KEZIAH MOSELLE</h1>
			</div>
			<img class="logo" src="assets/icons/logo.svg" alt="logo">
			<div class="banner dark">
				<h2 class="hide-on-small-only baffle">{{ $t('header.subtitle') }}</h2>
			</div>

			<button @click="scrollToContent" class="btn-floating waves-effect waves-dark white pulse"><i class="material-icons">keyboard_arrow_down</i></button>

		</header>
	
		<main class="row">
	
			<!-- ABOUT -->
	
			<div class="col s12 m10 offset-m1 l8 offset-l2">
				<div class="col s12">
					<div class="card">
						<div class="block card-content text">
							<h3>{{ $t('about.title') }}</h3>
							<p>{{ $t('about.paragraph') }}</p>
							<p>{{ $t('about.paragraph2') }}</p>
							<p>{{ $t('about.paragraph3') }} <a href="https://github.com/KeziahMoselle">GitHub</a>.</p>
						</div>
					</div>
				</div>
			</div>
	
			<!-- SKILLS -->
	
			<div class="col s12 m10 offset-m1 l8 offset-l2">
				<div class="col s12">
					<div class="card">
						<div class="block card-content text">
							<h3>{{ $t('skills.title') }}</h3>
							<div class="center row">
								<Skill lang="HTML5" :years="4"></Skill>
								<Skill lang="CSS3" :years="4"></Skill>
								<Skill lang="JavaScript" :years="2"></Skill>

								<Skill lang="PHP" :years="2"></Skill>
								<Skill lang="MySQL" :years="2"></Skill>
								<Skill lang="NodeJS" :years="1"></Skill>

								<Skill lang="React Native" :years="0"></Skill>
								<Skill lang="Electron" :years="0"></Skill>
								<Skill lang="VueJS" :years="0"></Skill>
							</div>
						</div>
					</div>
				</div>
			</div>
	
			<!-- TOOLS & MISC -->
	
			<div class="col s12 m10 offset-m1 l8 offset-l2">
				<div class="col s12">
					<div class="card">
						<div class="block card-content text">
							<h3>{{ $t('tools.title') }}</h3>
							<div class="center row">
								<Tool lang="GitHub" :years="2"></Tool>
								<Tool lang="Git" :years="2"></Tool>
								<Tool lang="VSCode" :years="2"></Tool>

								<Tool lang="Materialize" :years="3"></Tool>
								<Tool lang="Bulma" :years="0"></Tool>
								<Tool lang="Webpack" :years="0"></Tool>
							</div>
						</div>
					</div>
				</div>
			</div>
	
			<!-- PROJECTS -->
	
			<div id="projects" class="col s12 m10 offset-m1 l8 offset-l2">
				<div class="card">
					<div class="block card-content">
						<h3>{{ $t('portfolio.titlePro') }}</h3>
						<a class="btn-floating btn-large waves-effect waves-light purple"><i class="material-icons">keyboard_arrow_down</i></a>
					</div>
				</div>
	
				<div class="center row">

					<Project title="justbecause.vanessamoselle.fr" :tech="['HTML5', 'CSS3', 'jQuery']" modal-id="#justbecauseVanessamoselle"></Project>
					<Project title="maelysm.fr" :tech="['NodeJS', 'Bulma']" modal-id="#maelysm"></Project>
					<Project title="GAS Colmar" :tech="['PHP', 'Bootstrap']" modal-id="#GASColmar"></Project>
	
				</div>
	
				<div class="card">
					<div class="block card-content">
						<h3>{{ $t('portfolio.titlePerso') }}</h3>
						<a class="btn-floating btn-large waves-effect waves-light purple"><i class="material-icons">keyboard_arrow_down</i></a>
					</div>
				</div>
	
				<div class="center row">

					<Project title="Gelbooru Client" :tech="['NodeJS', 'Electron', 'Materialize']" modal-id="#GelbooruClient"></Project>
					<Project title="Embosseuse Braille" :tech="['NodeJS', 'Socket.io', 'React Native']" modal-id="#EmbosseuseBraille"></Project>
					<Project title="Vorrk Studio" :tech="['NodeJS', 'Bulma']" modal-id="#VorrkStudio"></Project>
	
				</div>
			</div>
	
			<!-- PROJECTS MODALS -->
	
			<div id="justbecauseVanessamoselle" class="modal bottom-sheet">
				<div class="modal-content row">
					<div class="modal-header col s12">
						<h2>justbecause.vanessamoselle.com</h2>
						<h3>Landing page for vanessamoselle's exhibition at L.A.</h3>
						<div class="modal-links">
							<a target="_blank" href="http://justbecause.vanessamoselle.com/" class="btn dark waves-effect waves-dark"><i class="material-icons left">open_in_new</i>Visit</a>
						</div>
					</div>
					<div class="modal-container">
						<h3>About the project</h3>
						<div class="modal-informations">
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, eius soluta libero amet tempore vitae quam quidem rem odio, molestiae quibusdam in minima dicta quod, odit asperiores velit nemo ipsam.
							</p>
						</div>
					</div>
					<div class="modal-container">
						<h3>Technologies used</h3>
						<div class="modal-technologies">
							<div>
								<img src="assets/icons/tech/html5.svg" alt="HTML5">
								<span>HTML5</span>
							</div>
							<div>
								<img src="assets/icons/tech/css3.svg" alt="CSS3">
								<span>CSS3</span>
							</div>
							<div>
								<img src="assets/icons/tech/jquery.svg" alt="jQuery">
								<span>jQuery</span>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a href="#!" class="btn dark modal-close waves-effect waves-dark">Close</a>
				</div>
			</div>
	
			<div id="maelysm" class="modal bottom-sheet">
				<div class="modal-content row">
					<div class="col s12">
						<h2>maelysm.fr</h2>
						<h3></h3>
					</div>
					<div class="modal-links">
						<a target="_blank" href="#" class="btn dark waves-effect waves-dark" disabled><i class="material-icons left">open_in_new</i>Visit</a>
					</div>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus sunt iste minus, reiciendis numquam illum quod dicta illo at. Amet eveniet placeat dolorum consequuntur dolorem voluptatibus, nesciunt corrupti tempora esse.</p>
				</div>
				<div class="modal-footer">
					<a href="#!" class="btn dark modal-close waves-effect waves-dark">Close</a>
				</div>
			</div>
	
			<div id="GASColmar" class="modal bottom-sheet">
				<div class="modal-content row">
					<div class="col s12">
						<h2>GAS Colmar</h2>
						<h3></h3>
					</div>
					<div class="modal-links">
						<a target="_blank" href="http://dev.gas-colmar.fr/" class="btn dark waves-effect waves-dark"><i class="material-icons left">open_in_new</i>Visit</a>
					</div>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus sunt iste minus, reiciendis numquam illum quod dicta illo at. Amet eveniet placeat dolorum consequuntur dolorem voluptatibus, nesciunt corrupti tempora esse.</p>
				</div>
				<div class="modal-footer">
					<a href="#!" class="btn dark modal-close waves-effect waves-dark">Close</a>
				</div>
			</div>
	
			<div id="GelbooruClient" class="modal bottom-sheet">
				<div class="modal-content row">
					<div class="col s12">
						<h2>Gelbooru Client</h2>
						<h3></h3>
					</div>
					<div class="modal-links">
						<a target="_blank" href="https://keziahmoselle.github.io/gelbooru-client/" class="btn dark waves-effect waves-dark"><i class="material-icons left">open_in_new</i>Visit</a>
						<a target="_blank" href="https://github.com/KeziahMoselle/gelbooru-client" class="btn dark waves-effect waves-dark"><i class="material-icons left">code</i>Source Code</a>
					</div>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus sunt iste minus, reiciendis numquam illum quod dicta illo at. Amet eveniet placeat dolorum consequuntur dolorem voluptatibus, nesciunt corrupti tempora esse.</p>
				</div>
				<div class="modal-footer">
					<a href="#!" class="btn dark modal-close waves-effect waves-dark">Close</a>
				</div>
			</div>
	
			<div id="EmbosseuseBraille" class="modal bottom-sheet">
				<div class="modal-content row">
					<div class="col s12">
						<h2>Embosseuse Braille</h2>
						<h3></h3>
					</div>
					<div class="modal-links">
						<a target="_blank" href="https://play.google.com/store/apps/details?id=com.embosseusebraille" class="btn dark waves-effect waves-dark"><i class="material-icons left">open_in_new</i>Visit</a>
						<a target="_blank" href="https://github.com/KeziahMoselle/braille-embosser" class="btn dark waves-effect waves-dark"><i class="material-icons left">code</i>Source Code</a>
					</div>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus sunt iste minus, reiciendis numquam illum quod dicta illo at. Amet eveniet placeat dolorum consequuntur dolorem voluptatibus, nesciunt corrupti tempora esse.</p>
				</div>
				<div class="modal-footer">
					<a href="#!" class="btn dark modal-close waves-effect waves-dark">Close</a>
				</div>
			</div>
	
			<div id="VorrkStudio" class="modal bottom-sheet">
				<div class="modal-content row">
					<div class="col s12">
						<h2>Vorrk Studio</h2>
						<h3></h3>
					</div>
					<div class="modal-links">
						<a target="_blank" href="https://vorrk.herokuapp.com/" class="btn dark waves-effect waves-light"><i class="material-icons left">open_in_new</i>Visit</a>
					</div>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus sunt iste minus, reiciendis numquam illum quod dicta illo at. Amet eveniet placeat dolorum consequuntur dolorem voluptatibus, nesciunt corrupti tempora esse.</p>
				</div>
				<div class="modal-footer">
					<a href="#!" class="btn dark modal-close waves-effect waves-dark">Close</a>
				</div>
			</div>
	
			<!-- Contact Form -->
	
			<form class="col s12 m10 offset-m1 l8 offset-l2" id="contact-form">
				<div class="card">
					<div class="card-content block">
						<h3>{{ $t('contact.title') }}</h3>
						<div class="row">
							<div class="input-field col s12 m10 offset-m1 l6 offset-l3">
								<i class="material-icons prefix">email</i>
								<input v-model="email" type="text" id="email" v-bind:class="emailClass">
								<label for="email">{{ $t('contact.emailPlaceholder') }}</label>
								<span class="helper-text" data-error="Your email is not valid." data-success="✓"></span>
							</div>
							<div class="input-field col s12 m10 offset-m1 l6 offset-l3">
								<i class="material-icons prefix">textsms</i>
								<textarea v-model="message" class="materialize-textarea" id="content" v-bind:class="messageClass"></textarea>
								<label for="content">{{ $t('contact.messagePlaceholder') }}</label>
								<span class="helper-text" data-error="The message should contains at least 10 characters." data-success="✓"></span>
							</div>
							<div class="col s12 center">
								<button @click.prevent="submit" class="btn dark waves-effect waves-dark" type="submit">{{ $t('contact.send') }}</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</main>
	
		<footer class="page-footer black">
			<ul class="center-align">
				<li><a href="https://github.com/KeziahMoselle"><img src="assets/icons/social/github.svg" alt="GitHub"></a></li>
				<li><a href="https://twitter.com/KeziahMoselle"><img src="assets/icons/social/twitter.svg" alt="Twitter"></a></li>
				<li><a href="https://www.instagram.com/keziahmoselle/"><img src="assets/icons/social/instagram.svg" alt="Instagram"></a></li>
				<li><a href="https://medium.com/@keziahmoselle"><img src="assets/icons/social/medium.svg" alt="Medium"></a></li>
			</ul>
		</footer>
	</div>

	<script defer src="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script defer src="//cdnjs.cloudflare.com/ajax/libs/baffle.js/0.3.6/baffle.min.js"></script>
	<script defer src="//cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/4.0.4/scrollreveal.min.js"></script>
	<script defer src="//unpkg.com/vue@2.5.17/dist/vue.min.js"></script>
	<script defer src="//unpkg.com/vue-i18n@8.3.0/dist/vue-i18n.js"></script>
	<script defer src="./assets/js/translations.js"></script>
	<script defer src="./assets/js/app.js"></script>
	<script defer src="./assets/js/animations.js"></script>
</body>

</html>