header {
  height: 64px;
  width: 100%;
  padding: 32px 32px 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 1600px) {
  header {
    width: 1400px;
    margin: 0 auto;
  }
}

.bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 4px;
  background-color: #eee;
  overflow: hidden;
}

.bar::before {
  content: '';
  position: absolute;
  height: 64px;
  width: 4px;
  background-color: black;
  top: 0;
  animation: translationY ease 4s infinite;
}

@keyframes translationY {
  from {
    transform: translateY(-32px);
  }
  to  {
    transform: translateY(100vh);
  }
}

header img {
  height: 32px;
  width: 32px;
}

.header-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}