header {
  height: 64px;
  width: 100%;
  padding: 32px 32px 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 1600px) {
  header {
    width: 1400px;
    margin: 0 auto;
  }
}

header img {
  height: 32px;
  width: 32px;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-menu li:last-child {
  margin-left: 16px;
}