/**
 *
 * FONTS
 *
 */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('/fonts/lato-v14-latin-regular.woff2') format('woff2'),
       url('/fonts/lato-v14-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
       url('/fonts/lato-v14-latin-700.woff2') format('woff2'),
       url('/fonts/lato-v14-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'),
       url('/fonts/lato-v14-latin-900.woff2') format('woff2'),
       url('/fonts/lato-v14-latin-900.woff') format('woff');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  src: local('Playfair Display Black'), local('PlayfairDisplay-Black'),
       url('/fonts/playfair-display-v14-latin-900.woff2') format('woff2'),
       url('/fonts/playfair-display-v14-latin-900.woff') format('woff');
}

* {
  box-sizing: border-box;
  word-wrap: break-word;
  transition: box-shadow 0.2s;
}

html {
  scroll-behavior: smooth;
  font-size: 125%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body.no-scroll {
  overflow-y: hidden;
}

:root {
  --accent: #D23669;
  --success: #20e289;
  --error: #FF5F56;
  --primary: #FFFFFF;
  --primary-ligther: #f7f7f7;
  --primary-darker: #EBEBEB;
  --secondary: #000000;
  --secondary-darker: #060606;
  --secondary-dark: #1F1F1F;
  --secondary-ligther: #363636;

  --youtube-color: #FF0000;
  --slides-color: #E5637C;
  --meetup-color: #F64060;
}

.accent {
  background-color: var(--accent);
}

.success {
  background-color: var(--success);
}

.error {
  background-color: var(--error);
}

code {
  background-color: #f5f5f5;
  color: var(--accent);
  padding: 0 8px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card.noscript {
  text-align: center;
  font-size: 18px;
  margin: 16px;
  padding: 16px;
  background-color: var(--error);
  color: var(--primary);
}

:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem var(--accent);
}

.visually-hidden:not(:focus):not(:active) { 
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

svg.spacing {
  margin: 0 4px;
}

svg {
  transition: transform 0.3s ease;
}

.icon {
  display: flex;
}

.btn, button, svg, img, header a {
  user-select: none;
}

.card.small {
  padding: 0;
}

.card.small .card-header {
  margin-bottom: 0;
  padding: 12px 32px;
}

.card.small .card-body {
  height: 200px;
  position: relative;
}

.card.small img {
  margin: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}


/**
 *
 * CONTAINER
 *
 */

.show-on-med-and-down {
  display: none !important;
}

.show-on-mobile {
  display: none !important;
}

/* DESKTOP */
@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 120px auto;
  }

  .container.medium {
    width: 1000px;
  }
}

@media only screen and (min-width: 701px) {
  .hide-on-med-and-up {
    display: none !important;
  }
}

/* TABLET */


@media only screen and (max-width: 700px) {
  .hide-on-med-and-down {
    display: none !important;
  }

  .show-on-med-and-down {
    display: block !important;
  }

  .hide-on-mobile {
    display: none !important;
  }

  .show-on-mobile {
    display: block !important;
  }
}


/* Tablet */
@media only screen and (max-width: 1200px) {
  .container {
    width: auto;
    padding: 0 24px;
    margin: 90px 0;
  }

  .container.hero {
    margin: 124px 0;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    width: auto;
    padding: 0 24px;
    margin: 64px 0;
  }
}


/**
 *
 * BLOCKS
 *
 */

.block {
  margin: 32px 0 32px 0;
  display: flex;
}

@media only screen and (max-width: 1200px) {
  .block {
    padding: 0;
  }
}

.block:first-of-type {
  margin-top: 56px;
}

.block h4 {
  margin-bottom: 4px;
}


/* MOBILE */
@media only screen and (max-width: 1200px) {
  .block {
    margin: 32px 0;
    flex-wrap: wrap;
  }
}


/**
 *
 * CARDS
 *
 */

.card {
  position: relative;
  padding: 30px;
  margin-bottom: 10px;
  border-radius: 8px;
  background: var(--primary);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.12);
}

.card .chip {
  position: absolute;
  right: -28px;
}


.card.inverted {
  background-color: var(--secondary-dark);
  color: var(--primary);
}

@media only screen and (max-width: 600px) {
  .card {
    margin-bottom: 52px;
  }

  .card .chip {
    left: 50%;
    transform: translateX(-50%);
    bottom: -28px;
  }
}

.card .card-header {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.card .card-header > svg {
  margin-right: 16px;
}

.card .card-body {
  display: flex;
  justify-content: space-around;
}

.card .card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}

.card .card-info span:last-child {
  margin-top: 8px;
}


/**
 *
 * CHIPS
 *
 */

 
.chip-inline {
  display: inline-flex;
  align-items: center;
  background-color: var(--primary-ligther);
  padding: 8px 12px;
  border-radius: 20px;
  margin-right: 8px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.2s, background-color 0.2s;
  user-select: none;
}

.chip-inline svg {
  margin: 0 2px;
}

a.chip-inline {
  cursor: pointer;
}

a.chip-inline:hover {
  background-color: var(--primary-darker);
}

.chip-inline:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12);
}

.chip-inline.inverted {
  background-color: var(--secondary);
  color: var(--primary);
}

.chip-inline.inverted:hover {
  background-color: #2f2f2f;
}

.chip-inline.inverted:focus {
  box-shadow: 0 0 0 0.2rem var(--accent);
}


.chip {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: var(--primary);
  color: var(--secondary);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.2s;
}

.chip:hover {
  background-color: var(--primary);
  box-shadow: 0 0 0 0.2rem var(--accent);
}

.chip:focus {
  box-shadow: 0 0 0 0.2rem var(--accent);
}

.chip[disabled] {
  background-color: #eee;
}

.chip[disabled]:hover {
  box-shadow: none;
}

.chip img {
  height: 24px;
  width: auto;
}

@media only screen and (max-width: 700px) {
  .chip-inline {
    font-size: 0.8rem;
  }
}



/**
 *
 * TYPOGRAPHY
 *
 */

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Playfair Display';
  line-height: 4rem;
  font-size: 4rem;
}

h2 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

h3 {
  display: inline-block;
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 0.8rem;
}

h5 a {
  color: inherit;
}

h5 a:hover {
  color: var(--secondary);
}

h6 {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  margin: 2px 0 0 0;
}

.grey {
  color: rgba(0, 0, 0, 0.8);
}

.separator::before {
  content: '/';
  margin: 0 8px;
}

footer h2 {
  width: fit-content;
  border-top: 4px solid var(--primary);
  padding-top: 6px;
}

.container > h3 {
  border-top: 4px solid var(--secondary);
  padding-top: 6px;
}

address, time {
  font-size: 0.9rem;
}

/* MOBILE */

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 4rem;
  }

  .container > h3 {
    display: block;
  }
}

/**
 *
 * LINKS
 *
 */

a {
  color: var(--secondary);
  text-decoration: none;
}


/**
 *
 * BUTTONS
 *
 */

.btn {
  display: inline-flex;
  align-items: center;
  margin: 0px;
  height: 50px;
  padding: 16px 32px;
  font-family: inherit;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--secondary);
  color: var(--primary);
  cursor: pointer;
  border: none;
  box-shadow: none;
  transition: background-color 0.3s,
              transform 0.3s ease-out;
}

.btn:hover {
  background-color: rgb(47, 47, 47);
}

.btn:not(.rounded):not(.bordered):focus {
  outline: double;
  background-color: var(--primary-ligther);
  color: var(--secondary);
}

.btn.bordered:not(.rounded):focus {
  outline: double;
  box-shadow: none;
}

.btn.rounded {
  border-radius: 4px;
}

.btn.compact {
  display: flex;
  align-items: center;
  padding: 8px 16px;
}

.btn.bordered {
  border: 1px solid var(--secondary);
  outline: none;
}

.btn .left {
  margin-right: 4px;
}

.btn .right {
  margin-left: 4px;
}

.btn.white {
  background-color: var(--primary);
  color: var(--secondary);
  transition: box-shadow 0.3s, transform 0.2s;
}

.btn.translate-y:hover {
  transform: translateY(-2px);
}

.btn.white:focus {
  box-shadow: 0 0 0 0.2rem var(--accent);
}

.btn.focused {
  box-shadow: 0 0 0 0.2rem var(--accent);
}


/* LIST */

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}


/**
 *
 * UTILITIES
 *
 */

 .relative {
   position: relative;
 }

 .flex {
   display: flex;
 }

.center {
  justify-content: center;
}

.column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.flex-end {
  justify-content: flex-end;
}

.valign {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}


/**
 *
 * FOOTER
 *
 */

 footer {
  background-color: var(--secondary);
  color: var(--primary);
  padding: 16px;
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 64px auto 0 auto;
}

footer .container > p:first-of-type {
  padding: 48px 0 0 0;
}

footer .container > p:first-of-type img {
  height: 30px;
  margin: 0 16px;
}

footer .container > p:last-of-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 32px 0 16px 0;
}

footer .container p img {
  margin: 0 8px;
  width: auto;
}

footer form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media only screen and (min-width: 700px) {
  footer .container {
    width: 560px;
  }
}

footer form p:not(.flex) {
  margin-bottom: 12px;
}

footer .status-message {
  font-weight: 900;
  font-size: 20px;
  height: auto;
}

footer .status-message > span {
  margin-right: 10px;
}

footer form > div > p img {
  height: 32px;
}

@media only screen and (max-width: 600px) {
  footer .container {
    padding: 0 16px;
  }

  footer h2 {
    width: 100%;
    border-top: 4px solid var(--primary);
    padding-top: 6px;
  }
}

.footer-links a {
  display: inline-block;
  margin: 0 16px;
}

.footer-links a:focus {
  box-shadow: none;
  display: inline-block;
  margin: 0 16px;
}

.footer-links a:hover > svg,
.footer-links a:focus > svg {
  fill: var(--primary);
}


/**
 *
 * FORM ELEMENTS
 *
 */



label {
  margin-bottom: 6px;
}

input, textarea {
  padding-left: 12px;
  font-family: 'Lato';
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 6px;
  margin-bottom: 12px;
  transition: box-shadow 0.3s;
}

input.is-valid, textarea.is-valid {
  box-shadow: 0 0 0 0.2rem var(--success) !important;
}

input.is-invalid, textarea.is-invalid {
  box-shadow: 0 0 0 0.2rem var(--error) !important;
}

input {
  height: 46px;
}

textarea {
  margin-bottom: 24px;
}

input:focus, textarea:focus {
  box-shadow: 0 0 0 0.2rem var(--accent);
}

textarea {
  padding: 12px;
}


/**
 *
 * HEADER
 *
 */

.sticky-header {
  z-index: 3;
  position: sticky;
  top: 0;
  background-color: var(--primary);
  transition: box-shadow 0.4s;
}

.sticky-header.stickied {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.sticky-header.stickied header .left-logo {
  transform: translateY(-128px);
  opacity: 0;
}

.sticky-header.stickied header .appear-on-scroll {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}

.sticky-header.stickied header .middle-logo {
  transform: translateY(0);
  opacity: 1;
}

.left-logo {
  transition: transform 0.3s, opacity 0.3s;
}

.appear-on-scroll {
  display: flex;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transform: translateY(12px);
  transition: transform 0.3s, opacity 0.3s;
}

@media only screen and (max-width: 600px) {
  .appear-on-scroll {
    display: none;
  }

  .sticky-header.stickied header {
    justify-content: flex-end !important;
  }
}

@media only screen and (min-width: 601px) {
  .left-logo {
    position: absolute;
  }
}

.appear-on-scroll li {
  margin-right: 16px;
}

.middle-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transform: translateY(-64px);
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s;
}

header {
  height: 64px;
  width: 100%;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header button {
  display: flex;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

header a {
  display: inline-flex;
}

header img {
  height: 32px;
  width: 32px;
}

@media only screen and (min-width: 1600px) {
  header {
    width: 1400px;
    margin: 0 auto;
  }
}

header nav {
  position: fixed;
  visibility: hidden;
  width: 300px;
  right: 0;
  top: 0;
  margin: 0;
  transform: translateX(-100%);
  height: 100%;
  background-color: var(--primary);
  z-index: 10;
  overflow-y: auto;
  transform: translateX(105%);
  transition: transform 0.3s;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
              0 3px 1px -2px rgba(0,0,0,0.12),
              0 1px 5px 0 rgba(0,0,0,0.2);
}

nav.show {
  visibility: visible;
  transform: translateX(0%);
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 64px;
  padding: 0 32px;
}

.menu-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 64px);
  padding: 32px 0;
}

.menu-body ul {
  display: flex;
  flex-direction: column;
}

.menu-body li:hover {
  background-color: #f5f5f5;
}

.menu-body a, .menu-body button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 1.3rem;
  width: 100%;
  padding: 12px 32px;
}

.menu-body a:focus {
  box-shadow: none;
}


.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 120vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 4;
}

.menu-overlay.opened {
  display: block;
  opacity: 1;
}


/**
 *
 * About
 *
 */

.container.about {
  width: 100%;
  justify-content: center;
  display: flex;
  color: var(--primary);
}

.about article {
  background-color: var(--secondary-darker);
  box-shadow: -1000px 0 0 0 var(--secondary-darker), 100px 0 0 0 var(--secondary-darker);
  max-width: 1200px;
  padding: 120px 320px;
  transition: box-shadow 0s;
}

.about article .block {
  display: block;
}

.about article .block p ~ p {
  margin-top: 16px;
}

@media only screen and (max-width: 1200px) {
  .container.about {
    background-color: var(--secondary-darker);
  }

  .about article {
    box-shadow: none;
    padding: 120px 32px;
  }
}


/**
 *
 * Experience
 *
 */

.experience h4 {
  margin-bottom: 8px;
}

.experience h5 {
  margin-bottom: 6px;
}

@media only screen and (min-width: 1200px) {
  .experience h6 {
    position: absolute;
    left: -24px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
}

.experience ul {
  margin-top: 10px;
}

.experience ul li {
  font-size: 16px;
  margin-top: 6px;
}


/**
 *
 * Formations
 *
 */

.formations .card {
  width: fit-content;
  width: auto;
}

@media only screen and (min-width: 1200px) {
  .formations .card {
    width: 400px;
  }
}

.formations .block h4 {
  margin-bottom: 4px;
}

.formations .block h5 {
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 4px;
}

.formations .circle.gradient {
  background-image: linear-gradient(to bottom, var(--secondary) 0%, rgb(54, 54, 54) 100%);
}

.formations .circle:last-of-type {
  transform: skewX(-50deg);
  border: 10px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  pointer-events: none;
}


/**
 *
 * Hero
 *
 */

.hero h1 {
  margin-bottom: 20px;
}

.hero p {
  max-width: 450px;
  word-break: break-word;
  font-size: 1em;
  margin-top: 16px;
  margin-bottom: 32px;
}

.hero .btn {
  margin-right: 24px;
}

/**
 *
 * Bar scroller
 *
 */

@media only screen and (min-width: 1400px) {
  .bar {
    position: absolute;
    left: -60px;
    top: 0;
    height: 100%;
    width: 4px;
    background-color: #eee;
    overflow: hidden;
  }

  .bar::before {
    content: '';
    position: absolute;
    height: 64px;
    width: 4px;
    background-color: var(--secondary);
    top: 0;
    animation: translationY ease 2.5s infinite;
  }
  
  @keyframes translationY {
    from {
      transform: translateY(-32px);
    }
    to  {
      transform: translateY(352px);
    }
  }
}


/* PLANET and CIRCLE */

.planet > * {
  position: absolute;
  top: 0;
  right: 0;
}

.planet .circle {
  height: 320px;
  width: 320px;
  border-radius: 50%;
}

.planet .overlap {
  border: 10px solid rgba(0,0,0,.1);
  border-top: none;
  pointer-events: none;
}

.circle.animated {
  overflow: hidden;
  background-image: linear-gradient(180deg,var(--secondary) 0,var(--secondary-dark));
}

.circle.animated::before {
  --size: 0;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side,hsla(0,0%,100%,.1),transparent);
  transform: translate(-50%,-50%);
  transition: width .2s ease,height .2s ease;
}

.circle.animated:hover::before {
  --size: 640px;
}

@media only screen and (max-width: 1200px) {
  .planet {
    display: none;
  }
}

.circle.overlap.crescent {
  border: 10px solid rgba(255, 255, 255, 0.1);
  border-top: none;
  border-left: none;
}


/**
 *
 * Projects
 *
 */

.projects .block {
  flex-direction: column;
}

.projects .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

@media screen and (max-width: 1200px) {
  .projects .grid {
    grid-template-columns: 1fr;
  }
}

.project {
  width: 100%;
  margin-bottom: 64px;
}

.project > a {
  display: block;
  border-radius: 6px;
}

.project > a:hover {
  box-shadow: 0 0 0 0.2rem var(--accent);
}

.project picture {
  display: flex;
}

.project-image {
  position: relative;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.project-header {
  margin-bottom: 8px;
}

.project-header h4 {
  margin-bottom: 10px;
  font-size: 1rem;
}

.project-header-supplementary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.project-title h3 {
  font-size: 2rem;
  font-weight: 900;
  margin: 0.3rem 0 0.1rem 0;
  transition-delay: 0.2s;
}

.project-subtitle h5 {
  color: rgba(255,255,255,0.8);
  font-size: 16px;
  font-weight: 600;
}

.project-title h3 {
  font-size: 1.7rem;
}

.project-title h4 {
  font-size: 1rem;
  margin-bottom: 0;
}

@media only screen and (min-width: 1200px) {
  .projects-small h3 {
    font-size: 1.3rem;
  }
  
  .projects-small h4 {
    font-size: 0.9rem;
  }

  .projects-small .project-info {
    font-size: 0.8rem;
  }
}


.project-thumbnail {
  position: relative;
  background-color: #eee;
  width: 100%;
  object-fit: contain;
  border-radius: 6px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.4s;
}

.project-image .overlap {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  margin: 0;
  padding: 8px;
}

.project-thumbnail .overlap .chip-inline {
  margin: 0;
}

.project-thumbnail img {
  transition: all 2s;
}

.project-image:hover .project-title {
  transform: translateY(25px);
}

.project-image:hover .project-subtitle {
  opacity: 0;
  transform: translateY(25px);
}

.project-image:hover .project-supplementary {
  opacity: 0;
  transform: translateY(25px);
}

.project-image:hover img {
  transform: scale(1.02);
}

.project-body {
  position: absolute;
  z-index: 1;
  bottom: 0;
  padding: 4.5rem 2.75rem 1.75rem;
  width: 100%;
  color: var(--primary);
  background: linear-gradient(to bottom, rgba(33,36,37,0) 0%,rgba(15, 15, 15, 0.7) 50%,rgba(33,36,37,0.84) 100%);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.project-subtitle, .project-title {
  transition: all 0.2s ease-in-out;
}

.project-supplementary {
  display: flex;
  transition: all 0.2s ease-in-out;
}

.project-header-supplementary .chip-inline {
  margin-bottom: 6px;
}

.project-info {
  display: inline-flex;
  align-items: center;
  margin: 0.75rem 0 0;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.8;
}

.project-info ~ .project-info::before {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  margin: 0 0.8em;
  background: var(--primary);
  content: "";
  opacity: 0.5;
  margin-bottom: 4px;
  display: inline-block;
}

.project-info span {
  opacity: 0.6;
}

.project-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 18px;
}

.project-stack img {
  height: 36px;
  width: auto;
  margin-left: 6px;
}

/**
 *
 * Project Case Studies
 *
 */
.page-title {
  text-align: center;
}

.page-title > h1 {
  font-size: 3.5rem;
}

.case-study {
  max-width: 1200px;
  margin: 32px auto 128px auto;
}

.case-study-header {
  margin: 0 32px;
  text-align: center;
}

.case-study-header::after {
  content: '';
  border: 1px solid var(--primary-ligther);
  display: inline-block;
  width: 70%;
  margin: 40px 0px 20px 0px;
}

.case-study-header h3 {
  opacity: 0.8;
  margin: 8px 0 16px 0;
}

.case-study-header .tags {
  margin-bottom: 24px;
}

.case-study-thumbnail {
  position: relative;
}

.case-study-thumbnail > a img {
  width: 100%;
  border-radius: 8px;
}

.case-study-thumbnail > a:first-of-type {
  display: flex;
  border-radius: 8px;
}

.case-study-thumbnail .btn {
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
}

.case-study-info {
  display: flex;
  justify-content: flex-start;
}

.case-study-info > span {
  display: flex;
  align-items: center;
  margin: 8px 16px;
  min-width: 75px;
}

.case-study-info svg {
  margin-right: 4px;
}

.case-study-body {
  margin: 32px auto;
  font-size: 1.2rem;
  max-width: 800px;
}


/**
 *
 * BUTTON
 *
 */

a.pill {
  border: none;
  padding: 3px 10px 3px 50px;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}

a.pill::before {
  transition: all 0.4s;
  content: '';
  width: 50%;
  height: 100%;
  background: var(--secondary);
  position: absolute;
  top: 0;
  left: 0;
}

a.pill::before {
  border-radius: 50px;
  width: 25%;
  background: var(--accent);
}

a.pill:hover::before {
  background: var(--accent);
  width: 100%;
}

a.pill span {
  color: var(--accent);
  mix-blend-mode: difference;
}



/**
 *
 * Skills
 *
 */

.skills .block .center {
  width: 100%;
  flex-wrap: wrap;
}

.skills h4 {
  z-index: 1;
  font-size: 18px;
  text-align: center;
  width: 160px;
  padding: 6px 16px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius : 16px;
  background-color: var(--primary);
}

.skills .block:first-of-type img {
  height: fit-content;
  width: 100%;
  max-width: 350px;
  object-fit: contain;
  margin: 16px 0 64px 0;
}

@media only screen and (min-width: 1200px) {
  .skills .block:first-of-type img {
    height: 400px;
    margin: 0;
  }
}

.skills .skill {
  transition: opacity 0.4s;
}

.skills .tools:hover .skill:not(:hover) {
  opacity: 0.7;
}

.skills .tools {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 32px;
}

/* SKILL IMAGE */

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 24px;
}

@media only screen and (max-width: 700px) {
  .skill {
    margin-bottom: 24px;
  }
}

.skill img {
  height: 64px;
  width: 64px;
}

.skill span {
  margin-top: 4px;
  font-weight: 600;
  font-size: 0.9rem;
}


/**
 *
 * Code Stats
 *
 */

.code .block {
  margin-bottom: 64px;
}

.pull-request {
  padding: 16px 24px;
  width: auto;
}

.pull-request:focus-within {
  box-shadow: 0 0 0 0.2rem var(--accent);
}

.pull-request .owner-avatar {
  height: 38px;
  width: 38px;
  padding: 4px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.pull-request .owner-avatar:hover,
.pull-request .owner-avatar:focus {
  background-color: var(--primary-darker);
}

.pull-request .owner-avatar img {
  width: 100%;
}

.pull-request .card-body {
  flex-direction: column;
  margin-left: 34px;
}

.pull-request h4 {
  margin: 0 8px 0 0;
}

.pull-request-title {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.pull-request a:focus {
  box-shadow: none;
}

.pull-request p {
  font-size: 0.8rem;
  max-width: 400px;
}

.pull-request-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 14px;
}

.pull-request-info a, .pull-request-info span {
  display: inline-flex;
  align-items: center;
  margin-right: 16px;
  color: var(--secondary-ligther);
}

.pull-request-info svg {
  margin-right: 4px;
}

@media only screen and (max-width: 700px) {
  .pull-request-info {
    justify-content: center;
  }

  .pull-request .card-body {
    margin-left: 0;
  }
}

.MERGED {
  fill: #6f42c1;
}

.inverted .MERGED {
  fill: #9E80D6;
}

.OPEN, .additions {
  fill: #2cbe4e; 
}

.inverted .additions {
  fill: #165F22;
}

.CLOSED, .deletions {
  fill: #cb2431;
}

.NEUTRAL {
  fill: #0366d6;
}

.inverted .NEUTRAL {
  fill: #4098FC;
}

.user-stats {
  display: flex;
  justify-content: center;
}

.user-stats .card.inverted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  min-width: 200px;
  margin: 0 20px;
}

.user-stats .card.inverted svg {
  margin-bottom: 12px;
}

@media screen and (max-width: 900px) {
  .user-stats {
    flex-direction: column;
  }

  .user-stats .card.inverted {
    margin-bottom: 16px;
  }

  .code .block.space-around.valign {
    flex-direction: column;
  }

  .code .block:not(:last-of-type) {
    margin-bottom: 34px;
  }

  .code .block h4 {
    margin-bottom: 24px;
  }

  .reverse-on-mobile {
    flex-direction: column-reverse !important;
  }
}


/**
 *
 * Achievements
 *
 */

.achievements-list {
  display: grid;
  grid-template-columns: 50% 50%;
}

@media only screen and (max-width: 760px) {
  .achievements-list {
    grid-template-columns: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .achievements-list {
    grid-gap: 12px;
  }

  .achievement-body .achievement-title {
    flex-direction: row;
    justify-content: space-between;
  }

  .achievement-body .achievement-title h4 {
    margin: 0;
  }
}

.achievement {
  position: relative;
  margin: 0 8px 28px 8px;
}

.achievement .won-overlap {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
}

.achievement .expanded-overlap {
  z-index: 1;
  display: inline-flex;
  position: absolute;
  top: 164px;
  left: 50%;
  transform: translateX(-50%);
  padding: 2px 12px;
  background-color: var(--primary);
  border: 1px solid var(--secondary);
  border-radius: 16px;
  cursor: pointer;
}

.achievement[aria-expanded="true"] .expanded-overlap svg {
  transform: rotate(180deg);
}

.achievement-thumbnail-container {
  overflow: hidden;
  border-radius: 8px;
}

.achievement-thumbnail-container:hover {
  box-shadow: 0 0 0 0.2rem var(--accent);
}

.achievement-thumbnail {
  height: 180px;
  position: relative;
  border-radius: 8px;
  background-color: #eeeeee;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.achievement-thumbnail:hover {
  transform: scale(1.08);
}

.achievement-thumbnail .badge {
  position: absolute;
  right: 8px;
  top: 8px;
}

.achievement-thumbnail h4 {
  white-space: nowrap;
  padding: 64px 40px;
  opacity: 0;
  pointer-events: none;
}

.achievement-body {
  overflow: hidden;
  margin-bottom: 0;
  padding: 0;
  transition: padding 0.6s;
}

.achievement-body[aria-hidden="false"] {
  padding: 22px;
}

.achievement-body .btn {
  margin-top: 18px;
}


.achievement-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.achievement-title h4 {
  text-align: center;
  margin-bottom: 8px;
  font-size: 1.1rem;
}

.achievement p {
  font-size: 0.9rem;
}

.badge {
  font-size: 0.9rem;
  background-color: var(--primary);
  padding: 6px 12px;
  border-radius: 17px;
  border: 2px solid var(--accent);
}

/**
 *
 * Talks
 *
 */


.talks .block {
  display: flex;
  flex-direction: column;
}

.talk {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s;
}

.talk:hover {
  transform: scale(1.02);
}

.talk-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.talk-header .img-container {
  height: 48px;
  width: 48px;
  padding: 6px;
  background-color: var(--primary);
  border-radius: 4px;
}

.talk-header .img-container img {
  height: 100%;
}

.talk-header time {
  opacity: 0.9;
}

.talk-body {
  padding: 52px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.talk-body > * {
  width: 50%;
}

.talk-body h4 {
  font-size: 32px;
  font-family: monospace;
  overflow-wrap: normal;
}

.talk-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.talk-footer address {
  font-style: normal;
  opacity: 0.9;
}

.talk-footer ul {
  display: flex;
}

.talk-footer li > a {
  padding: 0 12px;
}

.talk-footer li svg {
  fill: var(--primary);
}

.talk-link {
  display: flex;
  justify-content: center;
}

.talk-link:hover::before,
.talk-link:focus::before {
  opacity: 1;
  transform: translateY(-125%);
}

.talk-link:hover::after,
.talk-link:focus::after {
  opacity: 1;
  transform: translateY(-80%);
}

.talk-link::before {
  background-color: var(--secondary-ligther);
  border-radius: 3px;
  color: var(--primary);
  content: attr(aria-label);
  display: inline-block;
  opacity: 0;
  padding: 5px 10px;
  position: absolute;
  text-align: center;
  transform: translateY(-150%);
  transition: all 0.25s ease;
}

.talk-link::after {
  border-bottom: solid transparent 5px;
  border-left: solid transparent 5px;
  border-right: solid transparent 5px;
  border-top: solid var(--secondary-ligther) 5px;
  content: "";
  height: 0;
  opacity: 0;
  position: absolute;
  transform: translateY(-150%);
  transition: all 0.25s ease;
  width: 0;
}

.talk-link svg {
  transition: fill 0.2s;
}

.talk-link:focus {
  box-shadow: none;
}

.talk-link[href]:hover > .video,
.talk-link[href]:focus > .video {
  fill: var(--youtube-color);
}

.talk-link[href]:hover > .slides,
.talk-link[href]:focus > .slides {
  fill: var(--slides-color);
}

.talk-link[href]:hover > .url,
.talk-link[href]:focus > .url {
  fill: var(--meetup-color);
}

@media only screen and (min-width: 1200px) {
  .talk-link svg {
    height: 28px;
    width: 28px;
  }
}


/**
 *
 * Other
 *
 */

::-webkit-input-placeholder,
:-ms-input-placeholder,
:-moz-placeholder,
::-moz-placeholder {
  color: var(--secondary-dark);
}