body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #eee;
  }

  main {
    flex: 1 0 auto;
  }

  footer.page-footer {
    padding-top: 0;
}

nav .brand-logo {
    font-size: 2.1rem;
    font-weight: 300;
}

h4 {
    font-weight: 300;
}

a {
    color: #000;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.card .card-content {
    padding: 15px;
    border-radius: 0 0 2px 2px;
}
.card .card-title {
  font-size: 34px;
  font-weight: 300;
}
.panel {
  height: 200px;
}
