@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.purple {background-color: #ED145B !important;}
.black {background-color: #1F1D20 !important;}
.dark {background-color: #222023 !important;}

/* FORMATAGES */

    body {
        margin: 0;
        padding: 0;
        background-color: #222023;
        color: #FFF;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Inconsolata', sans-serif;
        margin: 0;
        font-weight: 300;
    }

    main {
        margin: 40px 0 0 0;
    }

    tr {
        border-bottom: 0;
    }

/* HEADER */

    .banner {
        width: 100%;
        box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
    }

    .banner > h1, .banner h2 {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    .banner h2 {
        font-weight: 100;
    }

    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 128px;
        width: 128px;
    }


    @media only screen and (max-width: 599px)
    {
        .banner {
            height: 300px;
        }
        .banner > h1, .banner h2 {
            font-size: 40px;
        }
        
        .logo {
            top: 225px;
        }
    }
    @media only screen and (min-width: 600px)
    {
        .banner {
            height: 400px;
        }
        .banner > h1, .banner h2 {
            line-height: 400px;
        }
        .banner > h1 {
            font-size: 60px;
        }

        .logo {
            top: 325px;
        }
    }

/* MAIN */

    /* ABOUT ME */

    p > a {
        color: #FFFFFF;
        border-bottom: 1px dashed #FFFFFF;
        text-decoration: none;
        transition: color 200ms;
    }
    p > a:hover {
        color: #b2b2b2;
    }

    /* SKILLS */

    .skills {
        margin-bottom: 10px;
    }

    .skills img {
        width: auto;
    }

    @media only screen and (min-width: 451px) {
        .skills img {
            height: 100px;
        }
    }

    @media only screen and (max-width: 450px) {
        .skills img {
            height: 64px;
        }
    }

    .chip {
        font-size: 18px;
        padding: 0 16px;
    }

    /* CARDS */

    .card {
        background-color: #1F1D20;
        margin-bottom: 40px;
    }

    @media only screen and (min-width: 992px)
    {
        .card .text {
            padding: 36px 140px 36px 140px;
        }
    }

    .card .card-content h3 {
        font-size: 36px;
        text-align: center;
        margin-bottom: 36px;
    }

    .card-title {
        overflow: hidden;
        word-wrap: break-word;
    }

    .card .card-content p {
        text-align: center;
        font-size: 18px;
    }

    .card .card-image img {
        filter: brightness(70%);
        -webkit-filter: brightness(70%);
        -moz-filter: brightness(70%);
        -o-filter: brightness(70%);
        -ms-filter: brightness(70%);
    }

    .card .card-content {
        padding: 14px;
        border-radius: 0 0 2px 2px;
        min-height: 82px;
    }

    @media only screen and (max-width: 450px) {
        .card .block.card-content {
            padding: 10px;
        }
    }

    @media only screen and (min-width: 451px) {
        .card .block.card-content {
            padding: 60px;
        }
    }

    .project.card-content {
        max-height: 64px;
        background-color: white;
        color: black;
        border-radius: 0 0 5px 5px;
    }

    #projects .card .card-title {
        font-size: 2rem;
    }
    
    #projects .card .card-content h3 {
        margin-bottom: 14px;
    }

    #projects .card .card-content:not(.project) {
        padding: 30px;
    }

    #projects .white i.material-icons {
        color: #000000;
        font-size: 1.5rem;
    }

    #projects h3 + a.btn-floating {
        position: absolute;
        bottom: -27px;
        left: 50%;
        transform: translateX(-50%);
    }

    .project {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .project img {
        height: 38px;
        width: auto;
    }

/* Wakatime integration responsiveness */

.wakatime {
    position: relative;
    overflow: hidden;
    padding-top: 42.25%;
}

.wakatime embed {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 1000px;
    top: 0;
    left: 0;
}

/* MODAL */

.modal.bottom-sheet {
    min-height: fit-content;
    border-radius: 10px;
}

.modal h2 {
    font-size: 2.6rem;
    text-align: left;
}

.modal h3 {
    font-size: 1.4rem;
    margin: 10px 0 30px 0;
}

.modal .modal-content {
    padding: 50px 24px 36px 24px;
    color: #000000;
}

.modal-links {
    margin-bottom: 24px;
}

/* FOOTER */

    .page-footer {
        padding: 10px;
    }

    footer ul li {
        display: inline-block;
        padding: 0 10px 0 10px;
    }

    footer a {
        border-bottom: #000000 4px solid;
        transition-duration: 200ms;
    }

    footer a:hover {
        border-bottom: #FFFFFF 4px solid;
    }

    footer a img {
        height: 32px;
        width: auto;
    }

    footer a img:hover {
        height: 32px;
        width: auto;
    }


/* FORMS */

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ED145B;
  box-shadow: 0 1px 0 0 #ED145B;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #ED145B;
}

/* SCROLLBAR */

body::-webkit-scrollbar {background-color: #222023; width: 0.5em;}
body::-webkit-scrollbar-thumb {background-color: #ED145B;}

::-moz-selection {background: #ED145B;}
::selection {background: #ED145B;}
