.projects .block {
  flex-direction: column;
}

.project {
  width: 100%;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

@media only screen and (max-width: 1200px) {
  .project-header {
    display: block;
  }

  .project-header a {
    display: inline-block;
    margin: 30px 0 20px 0;
  }
}

.project h3 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 6px;
}

.project h4 {
  margin-bottom: 16px;
}

.project > img {
  background-color: #eee;
  width: 100%;
  object-fit: contain;
  border-radius: 6px;
  cursor: pointer;
  transition: filter 0.4s;
}

.project > img:hover {
  filter: brightness(50%);
}

.project-footer {
  margin-top: 18px;
  display: flex;
  justify-content: flex-end;
}

.project-footer img {
  height: 36px;
  width: auto;
  margin-left: 6px;
}


/**
 *
 * BUTTON
 *
 */

.project a {
  border: none;
  padding: 3px 10px 3px 50px;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}

.project a::before {
  transition: all 0.4s;
  content: '';
  width: 50%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
}

.project a::before {
  border-radius: 50px;
  width: 25%;
  background: #d23669;
}

.project a:hover::before {
  background: #d23669;
  width: 100%;
}

.project a span {
  color: #d23669;
  mix-blend-mode: difference;
}
