@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  src: local('Playfair Display Black'), local('PlayfairDisplay-Black'),
       url('./playfair-display.woff2') format('woff2'),
       url('./playfair-display.woff') format('woff');
}

main {
  margin-top: 120px;
}