.skills .block {
  border-radius: 4px;
  align-items: center;
  margin-bottom: 50px;
}

.skills .block .center {
  width: 100%;
  flex-wrap: wrap;
}

.skills h4 {
  z-index: 1;
  font-size: 18px;
  text-align: center;
  width: 160px;
  padding: 6px 16px;
  margin: -18px 32px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius : 16px;
  background-color: white;
}

@media only screen and (max-width: 700px) {
  .skills .block {
    justify-content: center;
  }

  .skills h4 {
    width: auto;
    margin-right: 0;
    margin-bottom: 32px;
  }
}

/* SKILL IMAGE */

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 24px;
}

@media only screen and (max-width: 700px) {
  .skill {
    margin-bottom: 24px;
  }
}

.skill img {
  height: 90px;
  width: 90px;
}

.skill span {
  font-weight: 700;
}