/**
 *
 * FONTS
 *
 */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('/static/fonts/lato-v14-latin-regular.woff2') format('woff2'),
       url('/static/fonts/lato-v14-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
       url('/static/fonts/lato-v14-latin-700.woff2') format('woff2'),
       url('/static/fonts/lato-v14-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'),
       url('/static/fonts/lato-v14-latin-900.woff2') format('woff2'),
       url('/static/fonts/lato-v14-latin-900.woff') format('woff');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  src: local('Playfair Display Black'), local('PlayfairDisplay-Black'),
       url('/static/fonts/playfair-display-v14-latin-900.woff2') format('woff2'),
       url('/static/fonts/playfair-display-v14-latin-900.woff') format('woff');
}

* {
  box-sizing: border-box;
  word-wrap: break-word;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-size: 17px;
  scroll-behavior: smooth;
}

:root {
  --accent: #d23669;
  --success: #20e289;
  --error: #FF5F56;
}

.accent {
  background-color: var(--accent);
}

.success {
  background-color: var(--success);
}

.error {
  background-color: var(--error);
}

code {
  background-color: #f5f5f5;
  color: var(--accent);
  padding: 0 8px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card.noscript {
  text-align: center;
  font-size: 18px;
  margin: 16px;
  padding: 16px;
  background-color: var(--error);
  color: white;
}


/**
 *
 * CONTAINER
 *
 */

/* DESKTOP */
@media only screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 120px auto;
  }

  .container.medium {
    width: 1000px;
  }
}


/* MOBILE */
@media only screen and (max-width: 1200px) {
  .container {
    width: auto;
    padding: 0 32px;
    margin: 64px 0;
  }

  .container.hero {
    margin: 124px 0;
  }
}


/**
 *
 * BLOCKS
 *
 */

.block {
  margin: 32px 0 32px 32px;
  padding: 0 36px;
  display: flex;
}

@media only screen and (max-width: 1200px) {
  .block {
    padding: 0;
  }
}

.block:first-of-type {
  margin-top: 56px;
}

.block h4 {
  margin-bottom: 4px;
}


/* MOBILE */
@media only screen and (max-width: 1200px) {
  .block {
    margin: 32px 0;
    flex-wrap: wrap;
  }
}


/**
 *
 * CARDS
 *
 */

.card {
  position: relative;
  padding: 30px;
  margin-bottom: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.1s;
}

.card:hover {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.12);
}

.card .chip {
  position: absolute;
  right: -28px;
}

@media only screen and (max-width: 600px) {
  .card {
    margin-bottom: 52px;
  }

  .card .chip {
    left: 50%;
    transform: translateX(-50%);
    bottom: -28px;
  }
}


/**
 *
 * CHIPS
 *
 */



.chip {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: white;
  color: black;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.2s;
}

.chip:hover {
  background-color: white;
  box-shadow: 0 0 0 0.2rem var(--accent);
}

.chip[disabled] {
  background-color: #eee;
}

.chip[disabled]:hover {
  box-shadow: none;
}

.chip img {
  height: 24px;
  width: auto;
}



/**
 *
 * TYPOGRAPHY
 *
 */

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Playfair Display';
  line-height: 76px;
  font-size: 76px;
}

/* MOBILE */
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 64px;
  }
}

h2 {
  font-size: 32px;
}

footer h2 {
  width: fit-content;
  border-top: 4px solid white;
  padding-top: 6px;
}

.container > h3 {
  border-top: 4px solid black;
  padding-top: 6px;
}

@media only screen and (max-width: 600px) {
  .container > h3 {
    display: block;
  }
}

h3 {
  display: inline-block;
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}

h6 {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  margin: 2px 0 0 0;
}

.grey {
  color: rgba(0, 0, 0, 0.8);
}

.separator {
  margin: 0 8px;
}

.separator::before {
  content: '/'
}

/**
 *
 * LINKS
 *
 */

a {
  color: black;
  text-decoration: none;
}


/**
 *
 * BUTTONS
 *
 */

.btn {
  display: inline-block;
  width: fit-content;
  margin: 0px;
  padding: 16px 32px;
  font-family: inherit;
  font-size: 14px;
  background-color: black;
  color: white;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: none;
  transition: background-color 0.3s,
              transform 0.3s ease-out;
}

.btn:hover {
  background-color: rgb(47, 47, 47);
}

.btn:focus {
  background-color: #eeeeee;
  color: black;
}

.btn.rounded {
  border-radius: 4px;
}

.btn.white {
  background-color: white;
  color: black;
  transition: box-shadow 0.3s, transform 0.2s;
}

.btn.translate-y:hover {
  transform: translateY(-2px);
}

.btn.white:focus {
  box-shadow: 0 0 0 0.2rem var(--accent);
}


/* LIST */

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}


/**
 *
 * UTILITIES
 *
 */

 .relative {
   position: relative;
 }

 .flex {
   display: flex;
 }

.center {
  justify-content: center;
}

.column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.valign {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

/* CIRCLE */

.circle {
  position: absolute;
  top: 0;
  height: 320px;
  width: 320px;
  border: 4px solid black;
  border-radius: 50%;
}

@media only screen and (max-width: 1200px) {
  .circle {
    display: none;
  }
}

.circle.animated {
  overflow: hidden;
}

.circle.animated::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.1), transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}

.circle.animated:hover::before {
  --size: 640px;
}


/**
 *
 * FOOTER
 *
 */

 footer {
  background-color: black;
  color: white;
  padding: 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0;
}

footer .container > p:first-of-type {
  padding: 48px 0 0 0;
}

footer .container > p:first-of-type img {
  height: 30px;
  margin: 0 16px;
}

footer .container > p:last-of-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 32px 0 16px 0;
}

footer .container p img {
  margin: 0 8px;
  width: auto;
}

footer form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media only screen and (min-width: 700px) {
  footer form {
    width: 560px;
  }
}

footer form p:not(.flex) {
  margin-bottom: 12px;
}

footer .status-message {
  font-weight: 900;
  font-size: 20px;
  height: auto;
}

footer .status-message > span {
  margin-right: 10px;
}

footer form > div > p img {
  height: 32px;
}

@media only screen and (max-width: 600px) {
  footer .container {
    padding: 0 16px;
  }

  footer h2 {
    width: 100%;
    border-top: 4px solid white;
    padding-top: 6px;
  }
}


/**
 *
 * FORM ELEMENTS
 *
 */



label {
  margin-bottom: 6px;
}

input, textarea {
  padding-left: 12px;
  font-family: 'Lato';
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 6px;
  margin-bottom: 12px;
  transition: box-shadow 0.3s;
}

input.is-valid, textarea.is-valid {
  box-shadow: 0 0 0 0.2rem var(--success) !important;
}

input.is-invalid, textarea.is-invalid {
  box-shadow: 0 0 0 0.2rem var(--error) !important;
}

input {
  height: 46px;
}

textarea {
  margin-bottom: 24px;
}

input:focus, textarea:focus {
  box-shadow: 0 0 0 0.2rem var(--accent);
}

textarea {
  padding: 12px;
}


/**
 *
 * HEADER
 *
 */

 header {
  height: 64px;
  width: 100%;
  padding: 32px 32px 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 1600px) {
  header {
    width: 1400px;
    margin: 0 auto;
  }
}

header img {
  height: 32px;
  width: 32px;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-menu li:last-child {
  margin-left: 16px;
}



/**
 *
 * Experience
 *
 */

.experience .circle {
  top: -15vh;
  left: -30vw;
  background-color: black;
}

.experience h4 {
  margin-bottom: 8px;
}

.experience h5 {
  margin-bottom: 6px;
}

@media only screen and (min-width: 1200px) {
  .experience h6 {
    position: absolute;
    left: -24px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
}

.experience ul {
  margin-top: 10px;
}

.experience ul li {
  margin-top: 6px;
}


/**
 *
 * Formations
 *
 */

.formations .card {
  width: fit-content;
  width: auto;
}

@media only screen and (min-width: 1200px) {
  .formations .card {
    width: 400px;
  }
}

.formations .block h4 {
  margin-bottom: 4px;
}

.formations .block h5 {
  margin-bottom: 4px;
}

.formations .circle {
  top: 100px;
  right: -100px;
  border: none;
}

.formations .circle.gradient {
  background-image: linear-gradient(to bottom, black 0%, rgb(54, 54, 54) 100%);
}

.formations .circle:last-of-type {
  transform: skewX(-50deg);
  border: 10px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  pointer-events: none;
}


/**
 *
 * Hero
 *
 */

.hero h1 {
  margin-bottom: 20px;
}

.hero p {
  max-width: 500px;
  word-break: break-word;
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 32px;
}

/**
 *
 * Bar scroller
 *
 */

@media only screen and (min-width: 1400px) {
  .bar {
    position: absolute;
    left: -60px;
    top: 0;
    height: 100%;
    width: 4px;
    background-color: #eee;
    overflow: hidden;
  }

  .bar::before {
    content: '';
    position: absolute;
    height: 64px;
    width: 4px;
    background-color: black;
    top: 0;
    animation: translationY ease 2.5s infinite;
  }
  
  @keyframes translationY {
    from {
      transform: translateY(-32px);
    }
    to  {
      transform: translateY(352px);
    }
  }
}


/* CIRCLE */

.hero .circle {
  right: 0;
}


/**
 *
 * Projects
 *
 */

 .projects .block {
  flex-direction: column;
}

.project {
  width: 100%;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

@media only screen and (max-width: 1200px) {
  .project-header {
    display: block;
  }

  .project-header a {
    display: inline-block;
    margin: 30px 0 20px 0;
  }
}

.project-header .pill {
  margin: 15px 0 10px 0;
}

.project h3 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 6px;
}

.project h4 {
  margin-bottom: 16px;
}

.project a img {
  background-color: #eee;
  width: 100%;
  object-fit: contain;
  border-radius: 6px;
  cursor: pointer;
  transition: filter 0.4s;
}

.project a img:hover {
  filter: brightness(50%);
}

.project-footer {
  margin-top: 18px;
  display: flex;
  justify-content: flex-end;
}

.project-footer img {
  height: 36px;
  width: auto;
  margin-left: 6px;
}


/**
 *
 * BUTTON
 *
 */

a.pill {
  border: none;
  padding: 3px 10px 3px 50px;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}

a.pill::before {
  transition: all 0.4s;
  content: '';
  width: 50%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
}

a.pill::before {
  border-radius: 50px;
  width: 25%;
  background: var(--accent);
}

a.pill:hover::before {
  background: var(--accent);
  width: 100%;
}

a.pill span {
  color: var(--accent);
  mix-blend-mode: difference;
}



/**
 *
 * Skills
 *
 */

.skills .block .center {
  width: 100%;
  flex-wrap: wrap;
}

.skills h4 {
  z-index: 1;
  font-size: 18px;
  text-align: center;
  width: 160px;
  padding: 6px 16px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius : 16px;
  background-color: white;
}

.skills .block:first-of-type img {
  height: fit-content;
  width: 100%;
  max-width: 350px;
  object-fit: contain;
}

@media only screen and (min-width: 1200px) {
  .skills .block:first-of-type img {
    height: 400px;
  }
}

.skills .skill {
  transition: opacity 0.1s;
}

.skills .tools:hover .skill:not(:hover) {
  opacity: 0.7;
}

.skills .tools {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 32px;
}

/* SKILL IMAGE */

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 24px;
}

@media only screen and (max-width: 700px) {
  .skill {
    margin-bottom: 24px;
  }
}

.skill img {
  height: 64px;
  width: 64px;
}

.skill span {
  font-weight: 700;
}


/**
 *
 * Achievements
 *
 */

.achievements-list {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 12px;
}

@media only screen and (max-width: 600px) {
  .achievements-list {
    grid-template-columns: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .achievements-list {
    grid-gap: 32px;
  }

  .achievement-body .achievement-title {
    flex-direction: row;
    justify-content: space-between;
  }

  .achievement-body .achievement-title h4 {
    margin: 0;
  }
}

.achievement {
  width: 100%;
  margin-bottom: 16px;
}

.achievement-thumbnail {
  position: relative;
  border-radius: 8px;
  background-color: #eeeeee;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: filter 0.2s;
}

.achievement-thumbnail:hover {
  filter: brightness(50%);
}

.achievement-thumbnail .badge {
  position: absolute;
  right: 8px;
  top: 8px;
}

.achievement-thumbnail h4 {
  white-space: nowrap;
  padding: 64px 40px;
  opacity: 0;
  pointer-events: none;
}

.achievement-body {
  overflow: hidden;
  margin-bottom: 0;
}

.achievement-body p {
  margin-bottom: 24px;
}


.achievement-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.achievement-title h4 {
  text-align: center;
  margin-bottom: 8px;
}

.badge {
  background-color: white;
  padding: 6px 12px;
  border-radius: 17px;
  border: 2px solid var(--accent);
}