.experience {
  position: relative;
}

.experience h4 {
  max-width: 200px;
  min-width: 200px;
  margin-right: 32px;
}

.experience .circle {
  top: -64px;
  left: -400px;
  background-color: black;
}