.experience {
  position: relative;
}

.experience h4 {
  width: 350px;
  margin-right: 32px;
}

.experience .circle {
  top: -64px;
  left: -400px;
  background-color: black;
}

.experience ol li {
  margin-bottom: 8px;
}