@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
       url('./assets/fonts/lato-v14-latin-700.woff2') format('woff2'),
       url('./assets/fonts/lato-v14-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('./assets/fonts/lato-v14-latin-regular.woff2') format('woff2'),
       url('./assets/fonts/lato-v14-latin-regular.woff') format('woff');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/**
 *
 * TYPOGRAPHY
 *
 */

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}


/**
 *
 * LINKS
 *
 */

a {
  color: black;
  text-decoration: none;
}


/**
 *
 * BUTTONS
 *
 */

button {
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  font-family: inherit;
  font-size: 14px;
  background-color: black;
  color: white;
  padding: 16px 32px;
  font-weight: 700;
  cursor: pointer;
}
