footer {
  background-color: black;
  color: white;
  padding: 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer .container div {
  height: 100%;
}

footer form {
  display: flex;
  flex-direction: column;
  width: 450px;
}

footer form h2 {
  margin-bottom: 16px;
}

input {
  height: 46px;
  margin-bottom: 12px;
}

input, textarea {
  padding-left: 12px;
  font-family: 'Lato';
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 6px;
}

textarea {
  padding: 12px;
}